# http://editorconfig.org

# stop recursing upwards for other .editorconfig files
root = true

# Unix-style newlines with a newline ending every file
[*]
tab_width = 2
charset = utf-8
indent_size = 2
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{*[Mm]akefile*,*.mak,*.mk,depend}]
indent_style = tab

# ================================================
# 4 SPACE INDENTATION
# ================================================
[*.{py,java,r,R}]
indent_size = 4
indent_style = space

[Dockerfile]
indent_size = 4

[{go.mod,go.sum,*.go,.gitmodules}]
indent_size = 4
indent_style = tab

# ================================================
# 2 SPACE INDENTATION
# ================================================
[*.{js,json,y{a,}ml,html,css,cwl,rb,sh}]
indent_size = 2
indent_style = space

[*.{md,Rmd,rst}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false
