name: Lint Commit Messages

# Trigger the workflow on push or pull request, but only for the main branch
#
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Run commit lint with convention commits pattern
#
jobs:
  commitlint:
    name: Commit Lint

    strategy:
      matrix:
        os: [ubuntu-20.04]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: "14"

      - name: Install dependencies
        run: npm install

      - name: Run commit lint action
        uses: wagoid/commitlint-github-action@v2
        env:
          NODE_PATH: ${{ github.workspace }}/node_modules
