name: Gitleaks

# Trigger the workflow on push or pull request, but only for the main branch.
#
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: gitleaks-action
      uses: zricethezav/gitleaks-action@master
      with:
        config-path: .gitleaks.toml
